# Java/Gradle build
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
src/main/antlr/org/gustavolyra/.antlr

# C++ build
build_cpp/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.o
*.so
*.dll
*.exe

# IDE files
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.vscode/

# Language specific
.kotlin
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS specific
.DS_Store
Thumbs.db

# Temporary files
antlr-4.13.1-complete.jar